<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

        body {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text-gradient {
            background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .btn {
            background-color: #ffffff;
            color: #667eea;
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #764ba2;
            color: #ffffff;
            transform: scale(1.05);
        }

        .current-challenge,
        .available-challenge {
            max-width: none;
        }

        .card {
            width: calc(60vw);
            margin: 2rem 0.5rem 2rem 0;
            height: calc(30vh);
        }

        .reward {
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .reward:hover {
            transform: scale(1.01);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            z-index: 100;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .visible {
            display: block;
        }


        /*upload form styling*/

        .upload_form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            border-radius: 0.5rem;
            background-color: #f7fafc;
        }

        .upload_label {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #454545;
        }

        .upload_label:hover {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #000000;
        }

        #resume_input {
            opacity: 0;
            position: absolute;
        }

        .upload_button {
            background-color: #0099ff;
            color: #f7fafc;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.3rem;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .upload_button:hover {
            background-color: #0080ff;
            transform: scale(1.02);
        }

        .upload_button:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 153, 255, 0.5);
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    {% block body %}
    <div class="main-container" style="width: 60vw;">
        <h1 class="text-3xl text-center mt-8">Good morning, {{ user.username }}!</h1>
        <div class="container mx-auto mt-8 current-challenges">
            <h2 class="text-2xl font-bold mb-4">Current Challenges</h2>
            <!-- current challenges -->
            {% if not current_challenges %}
            <div class="available-challenge relative card overflow-hidden rounded-lg bg-gray-300 shadow"
                id="noChallengesCard">
                <div class="bg-gray">
                    <img src="/static/images/empty-lineart.png" class="object-contain mx-auto"
                        style="margin-top: -70px;" alt="" />
                </div>
                <div class="absolute inset-x-0 bottom-0 z-20 p-4">
                    <p class="mb-1 text-md bg-white text-black text-center"><i>It's so barren here! Join a challenge!
                            😢</i></p>
                </div>
            </div>
            {% endif %}
            {% for challenge in current_challenges %}
            <div class="current-challenge relative card overflow-hidden rounded-lg bg-white shadow"
                id="{{ challenge.id }}">
                <div>
                    <img src="https://plus.unsplash.com/premium_photo-1666283137118-47b92605afff?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="w-full object-cover" alt="" />
                </div>
                <div class="absolute inset-0 z-10 bg-gradient-to-t from-black"></div>
                <div class="absolute inset-x-0 bottom-0 z-20 p-4">
                    <h3 class="text-xl font-medium text-white mb-0.5">{{ challenge.name }}</h3>
                    <p class="mb-1 text-sm text-white text-opacity-80">{{ challenge.activity }} • <time>{{
                            challenge.duration }}</time> • {{ challenge.points }} points</p>
                    <p class="mb-1 text-sm text-white text-opacity-80"></p>
                    <button type="button"
                        class="rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400"
                        onclick="window.location.href='/open/{{ challenge.id }}'">
                        Open Challenge
                    </button>
                </div>
            </div>
            {% endfor %}
            <!-- end current challenges -->
        </div>

        <div class="container mx-auto mt-8 available-challenges">
            <h2 class="text-2xl font-bold mb-4">Available Challenges</h2>
            <!-- available challenges -->
            {% if not available_challenges %}
            <div class="available-challenge relative card overflow-hidden rounded-lg bg-gray-300 shadow"
                id="noChallengesCard">
                <div class="bg-gray">
                    <img src="/static/images/empty-lineart.png" class="object-contain mx-auto"
                        style="margin-top: -70px;" alt="" />
                </div>
                <div class="absolute inset-x-0 bottom-0 z-20 p-4">
                    <p class="mb-1 text-md bg-white text-black text-center"><i>No available challenges. Please check
                            back later!
                            😢</i></p>
                </div>
            </div>
            {% endif %}
            {% for challenge in available_challenges %}
            <div class="available-challenge relative card overflow-hidden rounded-lg bg-white shadow"
                id="{{ challenge.id }}">
                <div>
                    <img src="https://plus.unsplash.com/premium_photo-1666283137118-47b92605afff?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        class="w-full object-cover" alt="" />
                </div>
                <div class="absolute inset-0 z-10 bg-gradient-to-t from-black"></div>
                <div class="absolute inset-x-0 bottom-0 z-20 p-4">
                    <h3 class="text-xl font-medium text-white mb-0.5">{{ challenge.name }}</h3>
                    <p class="mb-1 text-sm text-white text-opacity-80">{{ challenge.activity }} • <time>{{
                            challenge.duration }}</time> • {{ challenge.points }} points</p>
                    <button type="button"
                        class="rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400"
                        id="joinButton" data-challenge-id="{{ challenge.id }}">Join Challenge</button>
                </div>
            </div>
            {% endfor %}

            <!-- end available challenges -->
        </div>
    </div>
    {% endblock %}


    <!-- bottom bar start -->
    <div
        class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-full bottom-4 dark:bg-gray-700 dark:border-gray-600">
        <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
            <button data-tooltip-target="tooltip-home" type="button" onclick="window.location.href='/'"
                class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
                <svg class="w-7 h-7 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                <span class="sr-only">Home</span>
            </button>
            <div id="tooltip-home" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Home
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button data-tooltip-target="tooltip-wallet" type="button" onclick="window.location.href='/shop'"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
                <svg class="w-7 h-7 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-gift">
                    <polyline points="20 12 20 22 4 22 4 12"></polyline>
                    <rect x="2" y="7" width="20" height="5"></rect>
                    <line x1="12" y1="22" x2="12" y2="7"></line>
                    <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                    <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                </svg>
                <span class="sr-only">Shop</span>
            </button>
            <div id="tooltip-shop" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Shop
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div class="flex items-center justify-center">
                <button data-tooltip-target="tooltip-new" type="button"
                    onclick="window.location.href='/create_challenge'"
                    class="inline-flex items-center justify-center w-10 h-10 font-medium bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 1v16M1 9h16" />
                    </svg>
                    <span class="sr-only">New item</span>
                </button>
            </div>
            <div id="tooltip-new" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Create new item
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button data-tooltip-target="tooltip-settings" type="button" onclick="window.location.href='/leaderboard'"
                class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group">
                <svg class="w-7 h-7 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-award">
                    <circle cx="12" cy="8" r="7"></circle>
                    <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                </svg>
                <span class="sr-only">Leaderboards</span>
            </button>
            <div id="tooltip-settings" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Leaderboards
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <button data-tooltip-target="tooltip-profile" type="button" onclick="window.location.href='/profile'"
                class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-50 dark:hover:bg-gray-800 group">
                <svg class="w-7 h-7 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-user">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span class="sr-only">Profile</span>
            </button>
            <div id="tooltip-profile" role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Profile
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </div>
    </div>
    <!-- bottom bar end -->

    <!-- popups -->
    <div class="space-y-5">
        <div id="challengeCreatedPopup"
            class="popup hidden relative mx-auto max-w-[400px] rounded-xl border border-secondary-50 bg-white p-4 text-sm shadow-lg">
            <button class="close-popup ttop-4 absolute right-4 ml-auto text-secondary-500 hover:text-secondary-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path
                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
            </button>
            <div class="flex space-x-4">
                <div class="flex h-10 w-10 items-center justify-center rounded-full bg-green-100 text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-1">
                    <h4 class="pr-6 font-medium text-secondary-900">Challenge Created! (emoji)</h4>
                    <div class="mt-1 text-secondary-500">Get ready to flex those muscles and crush your goals. Your new
                        challenge is waiting for you!</div>
                    <div class="mt-2 flex space-x-4">
                        <button
                            class="close-popup inline-block font-medium leading-loose text-secondary-500 hover:text-secondary-900">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-y-5">
        <div id="challengeCompletedPopup"
            class="popup hidden relative mx-auto max-w-[400px] rounded-xl border border-secondary-50 bg-white p-4 text-sm shadow-lg">
            <button class="close-popup ttop-4 absolute right-4 ml-auto text-secondary-500 hover:text-secondary-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path
                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
            </button>
            <div class="flex space-x-4">
                <div class="flex h-10 w-10 items-center justify-center rounded-full bg-green-100 text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-1">
                    <h4 class="pr-6 font-medium text-secondary-900">Challenge Completed! (emoji)</h4>
                    <div class="mt-1 text-secondary-500">You've crossed the finish line and earned points Head over
                        to the store and treat yourself. You’ve earned it!</div>
                    <div class="mt-2 flex space-x-4">
                        <button
                            class="close-popup inline-block font-medium leading-loose text-secondary-500 hover:text-secondary-900">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-y-5">
        <div id="challengeGivenUpPopup"
            class="popup hidden relative mx-auto max-w-[400px] rounded-xl border border-secondary-50 bg-white p-4 text-sm shadow-lg">
            <button class="close-popup ttop-4 absolute right-4 ml-auto text-secondary-500 hover:text-secondary-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path
                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
            </button>
            <div class="flex space-x-4">
                <div class="flex h-10 w-10 items-center justify-center rounded-full bg-green-100 text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-1">
                    <h4 class="pr-6 font-medium text-secondary-900">Tis but a small setback... (emoji)</h4>
                    <div class="mt-1 text-secondary-500">Just a pit stop, not the end of the road! Remember,
                        progress isn’t always a straight line.</div>
                    <div class="mt-2 flex space-x-4">
                        <button
                            class="close-popup inline-block font-medium leading-loose text-secondary-500 hover:text-secondary-900">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-y-5">
        <div id="challengeJoinedPopup"
            class="popup hidden relative mx-auto max-w-[400px] rounded-xl border border-secondary-50 bg-white p-4 text-sm shadow-lg">
            <button class="close-popup ttop-4 absolute right-4 ml-auto text-secondary-500 hover:text-secondary-900">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                    <path
                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
            </button>
            <div class="flex space-x-4">
                <div class="flex h-10 w-10 items-center justify-center rounded-full bg-green-100 text-green-500">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="flex-1">
                    <h4 class="pr-6 font-medium text-secondary-900">Welcome to the Squad! (emoji)</h4>
                    <div class="mt-1 text-secondary-500">You’ve just taken the first step towards greatness
                        by joining a challenge. Let's crush this together!</div>
                    <div class="mt-2 flex space-x-4">
                        <button
                            class="close-popup inline-block font-medium leading-loose text-secondary-500 hover:text-secondary-900">Dismiss</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    document.getElementById('joinButton').addEventListener('click', function () {
        var challengeId = this.getAttribute('data-challenge-id');
        window.location.href = '/join/' + challengeId;
    });

    window.onload = function () {
        var action = "{{ action }}";
        if (action) {
            var popupId = action + "Popup";
            var popup = document.getElementById(popupId);
            if (popup) {
                popup.classList.add('visible');
                popup.classList.remove('hidden');
            }
        }
    };

    // Function to close popup
    function closePopup() {
        // This selects all elements with the 'popup' class and adds the 'hidden' class to them, effectively hiding them.
        document.querySelectorAll('.popup').forEach(function (popup) {
            popup.classList.remove('visible');
            popup.classList.add('hidden');
        });
    }

    // Add event listeners to 'close-popup' buttons
    document.querySelectorAll('.close-popup').forEach(function (button) {
        button.addEventListener('click', closePopup);
    });



</script>

</html>