{% extends "index.html" %}

{% block body %}
    <div class="mx-auto bg-white p-6 rounded-lg shadow-lg" style="width: 40vw;">
        <div class="text-center">
            <div class="mb-4">
                <h1 class="text-2xl font-bold text-gray-800">
                    Redeem your points!
                </h1>
            </div>
            <div class="relative mb-6">
                <img alt="User's profile picture" class="w-24 h-24 rounded-full mx-auto border-4 border-red-500"
                    height="100"
                    src="static/images/user_profiles/{{ user.id }}.jpg"
                    width="100" />
            </div>
            <div class="mb-4" style="margin-top:-10px;">
                <h2 class="text-lg font-bold text-gray-800">
                    {{ user.username }}
                </h2>
                <p class="text-red-600 text-lg font-bold">
                    Balance: {{ user.points }} tokens
                </p>
            </div>
        </div>

        <div class="space-y-4">

            <div class="reward mx-auto rounded-lg bg-white shadow p-4 mt-2"
                style="width: 100%; margin-left: 0; margin-right: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="flex items-center">
                    <i class="fas fa-check-circle text-green-500 mr-2" style="font-size: 2rem; margin-right: 20px;"></i>
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">Complete 500 Jumping Jacks</h3>
                        <p class="text-gray-500">You have completed the challenge!</p>
                    </div>
                </div>
                <div>
                    <span class="text-gray-700 font-semibold">100</span>
                    <i class="fas fa-circle text-red-600"></i>
                </div>
            </div>

            <div class="reward mx-auto rounded-lg bg-white shadow p-4 mt-2"
                style="width: 100%; margin-left: 0; margin-right: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="flex items-center">
                    <i class="fas fa-check-circle text-green-500 mr-2" style="font-size: 2rem; margin-right: 20px;"></i>
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">Complete 500 Jumping Jacks</h3>
                        <p class="text-gray-500">You have completed the challenge!</p>
                    </div>
                </div>
                <div>
                    <span class="text-gray-700 font-semibold">100</span>
                    <i class="fas fa-circle text-red-600"></i>
                </div>
            </div>

            <div class="reward mx-auto rounded-lg bg-white shadow p-4 mt-2"
                style="width: 100%; margin-left: 0; margin-right: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="flex items-center">
                    <i class="fas fa-check-circle text-green-500 mr-2" style="font-size: 2rem; margin-right: 20px;"></i>
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">Complete 500 Jumping Jacks</h3>
                        <p class="text-gray-500">You have completed the challenge!</p>
                    </div>
                </div>
                <div>
                    <span class="text-gray-700 font-semibold">100</span>
                    <i class="fas fa-circle text-red-600"></i>
                </div>
            </div>

            <div class="reward mx-auto rounded-lg bg-white shadow p-4 mt-2"
                style="width: 100%; margin-left: 0; margin-right: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="flex items-center">
                    <i class="fas fa-check-circle text-green-500 mr-2" style="font-size: 2rem; margin-right: 20px;"></i>
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">Complete 500 Jumping Jacks</h3>
                        <p class="text-gray-500">You have completed the challenge!</p>
                    </div>
                </div>
                <div>
                    <span class="text-gray-700 font-semibold">100</span>
                    <i class="fas fa-circle text-red-600"></i>
                </div>
            </div>

            <div class="reward mx-auto rounded-lg bg-white shadow p-4 mt-2"
                style="width: 100%; margin-left: 0; margin-right: 0; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div class="flex items-center">
                    <i class="fas fa-check-circle text-green-500 mr-2" style="font-size: 2rem; margin-right: 20px;"></i>
                    <div>
                        <h3 class="text-lg font-medium text-gray-900">Complete 500 Jumping Jacks</h3>
                        <p class="text-gray-500">You have completed the challenge!</p>
                    </div>
                </div>
                <div>
                    <span class="text-gray-700 font-semibold">100</span>
                    <i class="fas fa-circle text-red-600"></i>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


